apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: postgres
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      service: postgres
  strategy: {}
  template:
    metadata:
      labels:
        service: postgres
    spec:
      containers:
      - args:
        - postgres
        - -c
        - max_connections=150
        - -c
        - fsync=false
        - -c
        - synchronous_commit=off
        - -c
        - full_page_writes=off
        env:
        - name: POSTGRES_DB
          value: "prefect_server"
        - name: POSTGRES_PASSWORD
          value: "prefect"
        - name: POSTGRES_USER
          value: "prefect"
        image: postgres:11
        imagePullPolicy: "Always"
        name: postgres
        ports:
        - containerPort: 5432
        resources: {}
      restartPolicy: Always
      serviceAccountName: ""
      volumes: null
status: {}
